@import url(index.css);

body {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 320px;
    background: url("/assets/img/desmumtz11.jpg"), linear-gradient(180deg, rgba(10,13,20,1) 0%, rgba(17,21,30,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

#AccountNotif {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 30%;
    width: 100%;
    transition: top 0.256s;
}

#NotifWrapper {
    max-width: 314px;
    width: 100%;
    background: black;
    color: orange;
    text-align: center;
    border: 3px solid gray;
    border-radius: 10px 10px 10px 10px;
}

#Container {
    flex-grow: 1;
    max-width: 320px;
    border-radius: 5px;
    height: 90vh;
    margin-left: auto;
    margin-right: auto;
    background: #393e46;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Container p {
    color: white;
}

#Logo {
    margin: 20px 0px;
    height: 50px;
}

#Input {
    display: flex;
    flex-direction: column;
    width: calc(100% - 40px);
    gap: 5px;
}

#Input div, #Input div div {
    display: flex;

    width: 100%;
}

#Input div div {
    flex-direction: column;
    flex-shrink: 1;
}

#Input div div input {
    margin-top: 3px;
    width: 94%;
}

#Input label {
    color: white;
}

#Input hr {
    background: transparent;
    border: 0px;
}

#Input input:focus {
    outline: none;
}

#LoginBTN,
#RegisterBTN {
    margin-top: 10px;
    height: 40px;
    border: 2px solid orange;
    border-radius: 3px;
    background: orange;
    color: black;
    font-size: 20px;
    width: calc(100% - 40px);
}

p a {
    color: orange;
    text-decoration: none;
}
