@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');
@import url('https://fonts.cdnfonts.com/css/omnibus-2');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

:root {
    --shadow-color: 56deg 100% 29%;
    --shadow-elevation-low:
      0px 1px 1.1px hsl(var(--shadow-color) / 0.34),
      0px 1.7px 1.9px -1.2px hsl(var(--shadow-color) / 0.34),
      0px 4px 4.5px -2.5px hsl(var(--shadow-color) / 0.34);
    --shadow-elevation-medium:
      0px 1px 1.1px hsl(var(--shadow-color) / 0.36),
      0px 3.3px 3.7px -0.8px hsl(var(--shadow-color) / 0.36),
      0px 8.2px 9.2px -1.7px hsl(var(--shadow-color) / 0.36),
      0px 20px 22.5px -2.5px hsl(var(--shadow-color) / 0.36);
    --shadow-elevation-high:
      0px 1px 1.1px hsl(var(--shadow-color) / 0.34),
      0px 5.8px 6.5px -0.4px hsl(var(--shadow-color) / 0.34),
      0px 10.9px 12.3px -0.7px hsl(var(--shadow-color) / 0.34),
      0px 17.9px 20.1px -1.1px hsl(var(--shadow-color) / 0.34),
      0px 28.6px 32.2px -1.4px hsl(var(--shadow-color) / 0.34),
      -0.1px 44.7px 50.3px -1.8px hsl(var(--shadow-color) / 0.34),
      -0.1px 67.9px 76.4px -2.1px hsl(var(--shadow-color) / 0.34),
      -0.2px 100px 112.5px -2.5px hsl(var(--shadow-color) / 0.34);
  }

body {
    margin: 0px;
    padding: 0px;
    min-width: 320px;
    font-family: 'FreeSerif', sans-serif;
    background: url('/assets/img/pawel-czerwinski-prMn9KINLtI-unsplash.jpg');
    background-size: cover;
}

/* Header */
#Header {
    background: transparent;
}

#Header-Container {
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0px 5px;
}

#Header-Container #userPanel {
    display: inline;
    flex: 1;
}

#userPanel button {
    float: right;
    margin-right: 5px;
    height: 35px;
    width: 70px;
}

#userPanel button#LoginBTN {
    font-family: Koulen;
    font-weight: 0;
    font-size: 16px;
    color: #ffffff;
    background-color: #ef9a53;
    border: solid #EF9A53 2px;
    border-radius: 3px;
    transition: 724ms;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
}

#userPanel button#RegisterBTN {
    font-family: Koulen;
    font-weight: 0;
    font-size: 16px;
    color: #ef9a53;
    background-color: transparent;
    border: solid #EF9A53 2px;
    border-radius: 3px;
    transition: 724ms;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
}

#userName ul {
    list-style: none;
    padding: 0;
}

#userName ul li ul {
    position: absolute;
    padding: 0px 5px;
    right: 5px;
    background: white;
    border-radius: 5px;
    z-index: 5;
    display: none;
}

#userName ul li ul li {
    margin-bottom: 5px;
}

#userName:hover ul li ul {
    display: inherit;
}

#userPanel #userName {
    float: right;
    color: #ef9a53;
}

/* Below the header */
#Item-Search {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 490px) {
    #Keyword-Wrapper {
        visibility: hidden;
    }
}

#Keyword-Wrapper {
    display: inline;
    flex: 1;
    padding-left: 5px;
    margin-right: 10px;
    overflow: hidden;
    white-space: nowrap;
}

#Keyword-Wrapper ul {
    padding-left: 0px;
}

#Keyword-Wrapper ul li {
    display: inline;
    margin: 0px 3px;
    cursor: pointer;
}

#Search-Container {
    display: flex;
    padding-right: 5px;
}

#Search-Container #SearchBox,
#Search-Container #SearchBTN {
    border: 2px solid black;
}

#Search-Container #SearchBox {
    border-right: none;
    border-radius: 10px 0px 0px 10px;
}

#Search-Container #SearchBTN {
    border-left: none;
    border-radius: 0px 10px 10px 0px;
    background: white;
}

/* Body */
#Body {
    min-height: 500px;
    padding: 20px 0px;
    height: 100%;
    
}

#Listing.grid {
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px 5px;
    gap: 10px;
    justify-content: center;
}

.grid-item {
    width: 200px;
    height: 300px;
    position: relative;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #000000;
    background-image: url('/assets/img/pxfuel.jpg');
    background-size: cover;
    background-position: center;
    z-index: 5;
    transition: transform 0.5s, box-shadow 0.256s;
}

.item-container {
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    border-radius: 7px;
    display: grid;
    grid-template-columns: repeat(38, 5px);
    grid-template-rows: repeat(58, 5px);
}

.item-image {
    grid-column: 2/38;
    grid-row: 2/38;
    background: black;
    border-radius: 5px;
    overflow: hidden;
}

.item-image img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.item-title {
    grid-column: 2/38;
    grid-row: 39/44;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.item-author {
    grid-column: 2/38;
    grid-row: 43/47;
    margin: 0;
    padding: 0;
}

.item-date {
    grid-column: 2/38;
    grid-row: 52/60;
    margin: 0;
    padding: 0;
    text-align: center;
}

.item-date p {
    margin: 0;
    padding: 0;

}

/* Footer */
#Footer {
    height: 50px;
    background: transparent;
    color: white;
}

/* ETC. */
.grid-item:hover {
    transform: translateY(-7px);
    box-shadow: var(--shadow-elevation-medium);
}