@import url("index.css");

#ProductShowcase {
    
}

#ProductDetails {
    display: flex;
    gap: 5px;
    border: 1px solid black;
    padding: 0px 5px;
}

#ProductDetails #ProductImage {
    width: 300px;
    height: 300px;
    min-width: 300px;
    min-height: 300px;
    object-fit: contain;
    object-position: center;
    background: white;
    border-radius: 10px;
}

#ProductDetails #ProductTexts {
    display: flex;
    flex-direction: column;
}

#ProductTexts h3 {
    margin-bottom: 10px;
}

#ProductTexts #ActionButtons {
    margin-top: auto;
    padding-bottom: 20px;
}

#ActionButtons button {
    height: 50px;
    border: 2px solid darkorange;
    border-radius: 5px;
    background: transparent;
    color: darkorange;
}

#ProductTexts > * {
    margin: 0;
}